body {
    background-color: #343A40;
}
.inhertia {
    background-color: #E41A2B;
    border-radius: 100%;
}
.category_body {
    background-color: #E41A2B;
}
.category_card {
    background-color: #ff0000;
    text-decoration: none;
}
.img_carousel {
    background-position: center;
    width: 350px;
    height: 350px;
    object-fit: cover;
    background-size: cover;
}
.img_detail {
    background-position: center;
    width: 100px;
    height: 100px;
    object-fit: cover;
    background-size: cover;
}
